.navbar {
  padding: 10px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #17a2b8;
}

.form-inline {
  margin-left: 20px;
}

.form-control {
  border-color: #17a2b8;
}

.btn-outline-success {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-success:hover {
  background-color: #17a2b8;
  color: #fff;
}
