<label>Login</label>


<input type="text" [formControl]="login">


<label>Password</label>
<input type="text" [formControl]="pwd">

<input type="submit" value="save" (click)="save()" [disabled]="login.invalid  || pwd.invalid">

<p>FormGroup</p>

<form [formGroup]="ResgisterForm">
    <label>Nom</label>
    <input type="text" formControlName="nom">
    <div class="alert alert-danger" *ngIf="this.ResgisterForm.controls['nom'].invalid && this.ResgisterForm.controls['nom'].touched ">
        <p *ngIf="this.ResgisterForm.controls['nom'].hasError('required')"> Nom Obligatoire</p>
        <p *ngIf="this.ResgisterForm.controls['nom'].hasError('minlength')"> minimum 6 caractères</p>
    </div>


    <label>prenom</label>
    <input type="text" formControlName="prenom">
    <div class="alert alert-danger" *ngIf="this.ResgisterForm.controls['prenom'].invalid && this.ResgisterForm.controls['prenom'].touched ">
        <p *ngIf="this.ResgisterForm.controls['prenom'].hasError('required')"> Nom Obligatoire</p>
        <p *ngIf="this.ResgisterForm.controls['prenom'].hasError('minlength')"> minimum 6 caractères</p>
    </div>


    <label>email</label>
    <input type="text" formControlName="email">
    <div class="alert alert-danger"*ngIf="this.ResgisterForm.controls['email'].invalid && this.ResgisterForm.controls['email'].touched ">
        <p *ngIf="this.ResgisterForm.controls['email'].hasError('email')"> email Obligatoire</p>
    </div>


    <label>tel</label>
    <input type="text" formControlName="tel">
    <div class="alert alert-danger" *ngIf="this.ResgisterForm.controls['tel'].invalid && this.ResgisterForm.controls['tel'].touched ">
        <p *ngIf="this.ResgisterForm.controls['nom'].hasError('required')"> Nom Obligatoire</p>
        <p *ngIf="this.ResgisterForm.controls['nom'].hasError('minlength')"> minimum 6 caractères</p>
    </div>
    <input type="submit" value="save" (click)="test()" [disabled]="ResgisterForm.invalid">

</form>
