<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
        <th scope="col">Like</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits; let i = index">
        <td>{{ produit.id }}</td>
        <td>{{ produit.nom }}</td>
        <td>{{ produit.prix }}</td>
        <td>{{ produit.quantite }}</td>
        <td>{{ produit.like }}</td>
        <td>
          <button class="btn btn-success" (click)="incrementerLike(i)">Like</button>
          <button class="btn btn-primary" (click)="incrementerPrix(i)">Buy</button>
        </td>
      </tr>
    </tbody>
  </table>