<!-- residences.component.html -->

<div class="container">
  <input type="number" [(ngModel)]="surfaceFilter" (input)="filterApartmentsBySurface()" placeholder="Filter by surface">
  <h4>Appartements:</h4>

  <div class="residences-list">
    <div *ngFor="let residence of listResidences" class="residence-card">
      <h3>{{ residence.name }}</h3>
      <p>{{ residence.address }}</p>
      <img [src]="residence.image" alt="{{ residence.name }}" class="residence-image">
      <button (click)="showApartments(residence)">Show apartments</button>

      <div *ngIf="selectedResidenceApartments.length > 0" class="apartments-list">
        <div *ngFor="let apartment of selectedResidenceApartments" class="apartment-card">
          <div *ngIf="apartment.residence.id === residence.id">
            <p>Numéro: {{ apartment.appartNum }}</p>
            <p>Surface: {{ apartment.surface }}</p>
            <!-- Ajoutez d'autres informations des appartements selon vos besoins -->
            <img [src]="apartment.residence.image" alt="Appartement" class="apartment-image">
            <button (click)="addToFavorites(apartment)">Like</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="favoriteApartments.length > 0">
    <h2>Favoris</h2>
    <div *ngFor="let apartment of favoriteApartments">
      <p>Numéro: {{ apartment.appartNum }}</p>
      <p>Surface: {{ apartment.surface }}</p>
      <!-- Ajoutez d'autres informations des appartements favoris selon vos besoins -->
      <button (click)="removeFromFavorites(apartment)">Remove from favorites</button>
    </div>
  </div>
</div>
