/* residences.component.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.residences-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.residence-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px); /* Utilisation de 33.33% pour avoir 3 colonnes avec espacement */
}

.residence-card h3 {
  margin-top: 0;
}

.residence-card img {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.apartments-list {
  margin-top: 10px;
}

.apartment-card {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.apartment-card p {
  margin: 0;
}

.apartment-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
